<div>
    <p ngNonBindable>{{ 'Angular' | uppercase }}</p>
    <p>{{ 'Angular' | uppercase }}</p>
</div>
<div>
    <p ngNonBindable>{{ 'Angular' | lowercase }}</p>
    <p>{{ 'Angular' | lowercase }}</p>
    <!-- Output: angular -->
</div>
<div>
    <p>Decimal Pipe</p>
    <p ngNonBindable>{{ {minIntegerDigits}.{minFractionDigits}-{maxFractionDigits} }}</p>
    <ol>
        <li>minIntegerDigits 是最小的整数位数，默认是1。</li>
        <li>minFractionDigits 表示最小的小数位数，默认是0。</li>
        <li>maxFractionDigits 表示最大的小数位数，默认是3。</li>
    </ol>
    <p>pi (no formatting): {{pi}}</p>
    <p>pi (.5-5): {{pi | number:'.5-5'}}</p>
    <p>pi (2.10-10): {{pi | number:'2.10-10'}}</p>
    <p>pi (.3-3): {{pi | number:'.3-3'}}</p>
</div>
<div>
    <p>Currency Pipe</p>
    <p ngNonBindable>{{ currency[:currencyCode[:symbolDisplay[:digitInfo]]] }}</p>
    <p>也就是说在currency管道后用分号分隔不同的属性设置</p>
    <p>A in USD: {{a | currency:'USD':true}}</p>
    <p>B in CNY: {{b | currency:'CNY':false:'4.2-2'}}</p>
</div>
<div>
    <p>Percent  Pipe</p>
    <p>百分数的整数位和小数位的规则也和上面提到的Decimal Pipe和Currency Pipe一致</p>
    <p>myNum : {{myNum}}</p>
    <p>myNum : {{myNum | percent}}</p>
    <p>myNum (3.2-2) : {{myNum | percent:'3.2-2'}}</p>
</div>
<div>
    <p>Json Pipe</p>
    <p>Without JSON pipe:</p>
    <pre>{{object}}</pre>
    <p>With JSON pipe:</p>
    <pre>{{object | json}}</pre>
</div>
<div>
    <p ngNonBindable>{{ today | date: 'shortTime' }}</p>
    <p>{{ today | date: 'shortTime' }}</p>
    <p>{{ today | date: "MM/dd/yy" }}</p>
    <p>{{ today | date: "medium" }}</p>
    <p>{{ today | date: "medium" | trimSpace}}</p>
    <!-- Output: 以当前时间为准，输出格式：10:40 AM -->
</div>
<div>
    <p ngNonBindable>{{ { name: 'semlinker' } | json }}</p>
    <p>{{ { name: 'semlinker' } | json }}</p>
    <!-- Output: { "name": "semlinker" } -->
</div>
<div>
    <p>管道可以接收任意数量的参数，使用方式是在管道名称后面添加 : 和参数值。如 number: '1.4-4' ，若需要传递多个参数则参数之间用冒号隔开，具体示例如下：</p>
    <p ngNonBindable>{{ 'semlinker' | slice:0:3 }}</p>
    <p>{{ 'semlinker' | slice:0:3 }}</p>
    <!-- Output: sem -->
</div>
<div>
    <p>多个管道连接在一起，组成管道链对数据进行处理。</p>
    <p ngNonBindable>{{ 'semlinker' | slice:0:3 | uppercase }}</p>
    <p>{{ 'semlinker' | slice:0:3 | uppercase }}</p>
    <!-- Output: SEM -->
</div>
<div>
    <p>自定义welcome PIPE</p>
   <p ngNonBindable>{{ 'semlinker' | welcome }}</p>
   <p>{{ 'semlinker' | welcome }}</p> <!-- Output: Welcome to semlinker -->
</div>
<div>
    <p>自定义repeat PIPE</p>
   <p ngNonBindable>{{ 'lo' | repeat:3 }}</p>
   <p>{{ 'lo' | repeat:3 }}</p> <!-- Output: lololo -->
</div>
